[Unit]
Description=Run music-sync periodically

[Timer]
OnCalendar=*-*-* *:00,30:00
RandomizedDelaySec=2min
Persistent=true
Unit=music-sync.service

[Install]
WantedBy=timers.target
